/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*---------- Base Styles ----------*/


p, 
h1, 
h3,
li,
a {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.example img {
  width: 90%;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 4px 4px 10px #7f7f7f;
}

p {
  line-height: 25px
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}

/********************/
hr {
  margin: 0 auto;
  width: 95%;
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  }
/********************/
/* Code between the markers above adapted from anil rahman's answer to 
question https://teamtreehouse.com/community/how-to-style-hr, April 2016.
Margin added, width and background color changed, border styled. */

.bold {
  font-weight: bold;
}

.teal {
  color: #06a0c3;
}

* {
  box-sizing: border-box;
}

.profile-section img {
  border: 3px solid black;
}


.profile-section p,
.skills-section p,
.contact-section p,
.skills-section li,
.contact-section a {
  color: #7f7f7f;
}

.example {
  text-align: center;
}

.profile-section, 
.portfolio-section,
.skills-section,
.contact-section,
#header {
  text-align: center;
}

#header,
.profile-section,
.skills-section,
.contact-section,
.horizontalrule,
.bottom,
.footer {
  background-color: #fafafa;
}


/*---------- Mobile ----------*/


#header a {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 10px 15px;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

#header h1 {
  font-weight: bold;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/********************/
#header a:last-child {
  margin-bottom: 0;
}
/********************/
/* Code between the markers above suggested by megm in Slack channel 
https://treehouse-fewd-td.slack.com/messages/project-02/ on April 15, 2016.*/


.profile-section {
  padding: 50px 35px;
}

.profile-section img {
  margin: 25px;
  width: 90%;
}

.example h2 {
  padding: 30px 0 15px 0;
}

.example p {
  padding: 0 20px 35px 20px;
}

.skills-section {
  text-align: center;
}

.skills-section li:last-child {
  padding-bottom: 25px;
}

.contact-section p {
  padding: 0 35px 25px 35px;
}

.contact-section a {
  text-decoration: none;
  color: black;
}

.contact-section h3 {
  padding-bottom: 40px;
}

a .email {
  padding-bottom: 0;
}

.contact-section {
  padding-bottom:25px;
}

.footer {
  padding-bottom: 35px;
}

.footer h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}

footer .home,
footer .portfolio,
footer .contact {
  padding-right: 30px;
}

.footer {
  padding: 30px 15px;
}

.footer h4,
.footer a {
  display: inline-block;
}


/*---------- Media Queries ----------*/

@media (max-width: 768px) {
  footer .home,
  footer .contact,
  footer .portfolio,
  footer .skills {
    display: none;
  }
}

@media (min-width: 768px) {

  #header li {
    display: inline-block;
  }

  #header a {
    background-color: #fafafa;
  }

  .profile-section p,
  .profile-section img {
    display: inline-block;
    width: 45%;
  }

  .profile-section img {
    float: right;
  }

  .profile-section p {
    padding-top: 20px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

/*********************/
  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }
/********************/
/* Code outlined above came from http://learnlayout.com/flexbox.html, 
https://css-tricks.com/snippets/css/a-guide-to-flexbox/,
http://www.w3schools.com/css/css3_flexbox.asp
Referenced April 15, 2016 */



  .example {
    width: 50%;
  }

  .contact-section .email {
    padding-bottom: 25px;
  }

  .footer .back{
    display: none;
  }

}

@media (min-width: 1024px) {

  .name,
  ul {
    display: inline-block;
  }

  .name {
    float: left;
  }

  header ul {
    float: right;
  }

  header {
    padding: 50px 50px 0 50px;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .example {
    width: 33%;
  }

  .contact-section,
  .skills-section {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  .bottom {
    padding-bottom: 25px;
  }

}

